aiofiles==25.1.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
AWRS==2019.8.14.1152
banal==1.0.6
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
dataset==1.6.2
decorator==5.2.1
dnspython==2.8.0
docopt==0.6.2
email-validator==2.3.0
executing==2.2.1
fastapi==0.129.0
fastapi-cli==0.0.24
fastapi-cloud-cli==0.14.0
fastar==0.8.0
folktales==2018.5.3.245
fonttools==4.62.1
greenlet==3.3.2
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
ipython==9.11.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
matrix-client==0.4.0
mdurl==0.1.2
megaparsex==2018.2.12.2333
numpy==2.4.3
packaging==26.0
pandas==3.0.1
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyfiglet==1.0.4
Pygments==2.19.2
pyparsing==3.3.2
pyprel==2018.9.14.1501
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.22
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
rich-toolkit==0.19.7
rignore==0.7.6
scalar==2018.9.10.2016
scalar_fastapi==1.8.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentry-sdk==2.54.0
shellingham==1.5.4
shijian==2023.10.19.215
six==1.17.0
SQLAlchemy==1.4.54
stack-data==0.6.3
starlette==0.52.1
technicolor==2017.1.16.1544
threadpoolctl==3.6.0
traitlets==5.14.3
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==1.26.20
uvicorn==0.41.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
widgetsnbextension==4.0.15
